<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ロール詳細画面</title>
<link rel="stylesheet" href="../role.css">
</head>
<body>
<h5>ロール詳細画面</h5>

<span>部署ID</span>
<span th:text="${session.roleId}"></span><br>
<br>

<form th:action="@{/role_edit/detail}" method="post">
<label>ユーザId:</label>
<input name="userId" type="text"><br>
<label>ユーザ名:</label>
<input name="userName" type="text"><br>
<label>会社名:</label>
<input name="companyName" type="text"><br>

<button>検索</button>
</form>

<h5>検索結果</h5>
 <div class="boxContainer">
        
        <!-- 左のリストボックス -->
        <form th:action="@{/role_edit/test}" method="post">
        <select name="testId" id="leftList" size="3" multiple>
        <div th:each="user:${userList3}">
            <option th:value="${user.userId}" th:id="${user.userId}" th:text="${user.userId}+${user.nameKnjSei}+
            ${user.nameKnjMei}">メロン</option>
           </div>
        </select>
    	</form>
        
        <button type="button" id="left-btn">右へ</button>
        <button type="button" id="right-btn">左へ</button>
        
        <form th:action="@{/role_edit/change2}" id="rightListForm" method="post">
        <!-- 右のリストボックス -->
        <select name="select" id="rightList" size="3" multiple>
        <div th:each="user:${userList2}">
        <option th:value="${user.userId}" th:id="${user.userId}" th:text="${user.userId}+${user.nameKnjSei}+
            ${user.nameKnjMei}"></option>
        </div>
        </select>
        <input type="hidden" name="str" id="str">
        <button type="submit">変更</button>
    	</form>
    
    </div>
    
        
    
        <!-- JavaScripts -->
        <script src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
        <script>
        
        
        $(function() {
    //右へ要素を追加する。
    $('#left-btn').click(rightMove);
    
    //カテゴリ削除イベント
    $('#right-btn').click(leftMove);
});
 
//右へ要素を追加する。
function rightMove() {
    
    //左リストで選択している要素のIDを取得する。
    value = $("#leftList").children("option:selected").val();
    console.log(value);
 
    //要素が選択されている場合、以下を行う。
    if(value !== void 0){
 
        //左リストで選択している要素を取得する。
        element = $("#leftList").children("option:selected").html();
 
        //選択した要素を左リストから削除する。
        $("#" + value).remove();
 
        /*  
        //選択した要素を、右リストへ追加する。
        $("#rightList").append('<option value = ' + value + ' id = ' + value + '>' + element + '</option>');
        */
        
      //inputタグにvalueを入れる
        let str=document.getElementById('str');
        console.log(str);
        let o=document.forms['rightListForm'].elements['select'].options;
        
        let v = new Array();
        let t = new Array();
        
        for(var i = 0; i < o.length; i++) {
        	v[i] = o[i].value;
        	t[i] = o[i].value;
        	console.log(str);
        	}
        	str.value=v;
        sessionStorage.setItem('key',str.value);
        str.value=sessionStorage.getItem('key');
        console.log(str.value);
        
        $("#rightList").append('<option value = ' + value + ' id = ' + value + '>' 
        		+ element + '</option>');
      
        
        //選択状態を開放する。
        $("#rightList").removeAttr("option:selected");
        
        

        
    }
}
 
//左へ要素を追加する。
function leftMove() {
    
    //右リストで選択している要素のIDを取得する。
    value = $("#rightList").children("option:selected").val();
 
    //要素が選択されている場合、以下を行う。
    if(value !== void 0){
 
        //右リストで選択している要素を取得する。
        element = $("#rightList").children("option:selected").html();
 
        //選択した要素を右リストから削除する。
        $("#" + value).remove();
 
        //選択した要素を、左リストへ追加する。
        $("#leftList").append('<option value = ' + value + ' id = ' + value + '>' + element + '</option>');
        
        //選択状態を開放する。
        $("#leftList").removeAttr("option:selected");
    }
}
</script>
        
        
        


</body>
</html>